* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background-color: rgb(50, 115, 220);
	display: flex;
	justify-content: center;
}
.head {
	font-size: 8rem;
	color: rgb(224 222 14);
}
.container {
	position: absolute;
	align-items: center;
	color: #fff;
}
.container > h1 {
	font-size: 6rem;
	margin: 20rem 0 2rem 0;
	text-align: center;
}
#inputtext:focus,
#inputtext {
	width: 68rem;
	height: 3rem;
	display: block;
	box-shadow: none;
	outline: none;
	font-size: 2rem;
	text-align: center;
	color: rgb(50, 115, 220);
	border: none;
	border-radius: 0.8rem;
	margin: 0 auto;
}

#btn,
#btn1 {
	display: block;
	margin: 2rem auto;
	width: 17rem;
	height: 5rem;
	background: rgb(50, 115, 220);
	border: 0.2rem solid #fff;
	border-radius: 0.6rem;
	cursor: pointer;
	color: #fff;
	transition: 0.5s ease-in-out;
	font-weight: bold;
}
#btn:hover,
#btn1:hover {
	background: #fff;
	color: rgb(50, 115, 220);
}
#btn1 {
	display: none;
}
#result,
#rand {
	font-size: 4rem;
	margin: 2rem 0;
	text-align: center;
}
